{% extends "administrator/base.html" %}
{% block content %}
    <h1> Add a new ATM Card </h1>
    <form action = '/administrator/add-atm-card' method = 'POST'> 
        {% csrf_token %}
        {{form}}
        <br><button class = 'btn btn-primary' type = 'submit'>Add Card</button> 
    </form>
    {% if message %}
    <p class = 'mt-5'> {{message}} </p>
    {% endif %} 
    <div class = 'row'>
        <div class = 'col'> 
            <a href = "{% url 'admin-home' %}" class = 'btn btn-primary mt-5'> Back </a>
        </div> 
    </div>
{% endblock content %}