{% extends "administrator/base.html" %}
{% block content %}
    <h1> View Transaction History </h1>
    <a href = "{% url 'update-atm-card' %}" class = 'btn btn-primary mt-5'> Back </a> 
    <form action = '/administrator/view-transaction-history' method = 'POST' class = 'mt-5'> 
        {% csrf_token %}
        {{form.as_p}}
        <button class = 'btn btn-primary' type = 'submit'> Search </button> 
    </form>
    {% if message %}
        <p class = 'mt-5'> {{message}} </p>
    {% endif %} 
    {% if history %}
    <table class="table my-5">
        <thead>
          <tr>
            <th scope="col">Transaction Type</th>
            <th scope="col"> Card Number </th>
            <th scope="col"> Date </th>
            <th scope="col"> Location </th>
            <th scope="col"> Status </th>
          </tr>
        </thead>

        {% for transaction in history %}
            <tbody>
                <tr>
                    <td> {{transaction.transaction_type}}</td>
                    <td> {{transaction.atm_card_number.card_number}}
                    <td> {{transaction.date}} </td>
                    <td> {{transaction.atm_machine_uid.location}} </td>
                    <td> {{transaction.status}} </td>
                </tr>
            </tbody>
        {% endfor %}
        </table>
    {% endif %}

{% endblock content %}